/* Global & Base Elements */
html,
body,
#app,
.col-md-12 {
  height: 100%;
  width: 100%;
  font-family: "Roboto", "Open Sans", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
}

#app,
.container-after-titlebar {
  background-color: rgba(0, 0, 0, 0.8);
}

.container-fluid {
  height: 100%;
  width: 100%;
  padding: 0;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Boxes, Cards, and Containers */
.box-container {
  max-height: 400px;
  overflow-y: auto;
}

.box {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background: white;
  border-radius: 5px;
}

/* Card */
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

/* Map-related */
.map-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  /* Fallbacks for older browsers */
  height: -o-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);
}

#map {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* Overlays */
#overlay,
#overlay-legend,
#overlay-logos {
  position: fixed;
  z-index: 2;
  cursor: pointer;
}

#overlay {
  width: 250px;
  height: 10px;
  top: 5%;
  left: 2%;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay-legend {
  width: 250px;
  height: 10px;
  top: 75%;
  right: 80%;
  left: 80%;
  background-color: rgba(0, 0, 0, 0.5);
}

#overlay-logos {
  width: 100%;
  height: 150px;
  top: 88%;
  left: 1%;
  background-color: rgba(0, 0, 0, 0.0);
}

/* Buttons & Interactions */
.inwards_button,
.inwards_button_group,
.uwasp_button,
.uwasp_button_group {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  border-radius: 0;
}

.inwards_button {
  background-color: #10556A;
  border-color: #fff;
}
.inwards_button:hover {
  background-color: #4CAF50;
  color: white;
}

.inwards_button_group {
  background-color: #10556A;
  border-color: #10556A;
}
.inwards_button_group:hover {
  background-color: #4CAF50;
  color: white;
}

.uwasp_button {
  background-color: #4CAF50;
  border-color: #fff;
}
.uwasp_button:hover {
  background-color: #10556A;
  color: white;
}

.uwasp_button_group {
  background-color: #4CAF50;
  border-color: #4CAF50;
}
.uwasp_button_group:hover {
  background-color: #4CAF50;
  color: white;
}

.inwards_button .fa {
  padding-right: 4px;
}

/* Inwards style blocks */
.inwards_card,
.inwards_card_tab,
.inwards_search {
  background-color: #10556A;
  border-color: #10556A;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}

.inwards_card {
  padding-bottom: 0.1rem;
  padding-top: 0.4rem;
  padding-left: 0.6rem;
}
.inwards_card_tab {
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  padding-left: 0.2rem;
}

/* Chart, Table, WQ containers */
.chart-container,
.wq-container {
  max-height: 400px;
  height: 400px;
  overflow-y: auto;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

/* Single table-container definition (merged) */
.table-container {
  overflow-y: auto;
  max-height: 85vh; /* or whichever max-height you prefer */
  background-color: white;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

/* .c3-axis-y for charts */
.c3-axis-y text {
  font-size: 12px;
}

/* Misc. styling */
.save-selection {
  position: absolute;
  margin-top: -45px !important;
  margin-left: 8px;
}

.page-item > * {
  border: none;
}

.table {
  border: none;
  color: #272e38;
}

.table td {
  vertical-align: middle;
}

.table-definition thead th:first-child {
  pointer-events: none;
  background: white;
  border: none;
}

/* Y-axis sticky header in a table */
.table.is-scrollable tbody {
  overflow-y: auto;
}
.table.is-scrollable th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
}

/* Refresh stations */
#refresh-stations {
  float: right;
  color: white;
}
#refresh-stations:hover {
  cursor: pointer;
}

/* JSTree icons */
.jstree-icon .jstree-themeicon .jstree-themeicon-custom {
  font-size: 0.8rem;
}
.jstree-node .jstree-leaf {
  font-size: 0.8rem;
}

/* No gutters */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/* Listing & Spinners */
.list-container {
  border: 1px solid #eee;
  border-radius: 2px;
  background: #fff;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.spinner-list {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.loading_disks {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

/* Tabs and nav */
nav > .nav.nav-tabs {
  border: white;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}

nav > div a.nav-item.nav-link {
  border: white;
  border-width: 0.2rem;
  padding: 18px 25px;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}
nav > div a.nav-item.nav-link:hover {
  border: none;
  background: #4CAF50;
  color: #fff;
  transition: background 0.2s linear;
}
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #10556A;
  color: #fff;
  transition: background 0.2s linear;
}
nav > div a.nav-item.nav-link.active {
  border: white;
  border-width: 0.2rem;
  padding: 18px 25px;
  color: #fff;
  background: #10556A;
}
nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -56px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #272e38;
}

/* For vertical nav tabs, keep hidden arrow if needed */
nav > div a.nav-item.nav-link.nav-vertical.active:after {
  content: "";
  position: relative;
  bottom: -56px;
  left: -55%;
  border: 15px solid transparent;
  border-top-color: #272e38;
  visibility: hidden;
}

.nav-tabs > li {
  position: relative;
}
.nav-tabs > li > a {
  display: inline-block;
}
.nav-tabs > li > span {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 8px;
  color: red;
}
.nav-tabs > li:hover > span {
  display: inline-block;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #272e38;
}

/* Tab content container */
.tab-content {
  background: #fdfdfd;
  line-height: 5px;
  border: 1px solid #ddd;
  border-top: 5px solid #272e38;
  border-bottom: 5px solid #272e38;
  padding: 0;
}

/* Logo grids */
.container-fluid-logo {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}
.grid-logo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(85px, 2fr));
  grid-gap: 0.4rem;
  height: 90px;
}
.grid-logo-login {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 2fr));
  grid-gap: 0.1rem;
  height: 60px;
}
.grid-logo > div,
.grid-logo-login > div {
  background: rgba(255, 255, 255, 0.9);
  display: grid;
  place-items: center;
  border: 0.1px solid rgb(252, 250, 250);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.4),
              inset -1px -1px 1px rgba(0, 0, 0, 0);
}
.grid-logo > div::before,
.grid-logo-login > div::before {
  content: "";
  display: block;
  padding-bottom: 0%;
  grid-area: 1/1/2/2;
}
.grid-logo > div img {
  width: 100%;
  grid-area: 1/1/2/2;
}
.grid-logo-login > div img {
  width: 80%;
  grid-area: 0.5/0.5/1/1;
}

/* Material icons */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
}

/* Layout/Left-Right Panels */
#content,
html,
body {
  height: 98%;
}

.left-panel {
  margin: 0 auto;
  float: left;
  width: 50%;
  background: red;
  height: 100%;
  overflow: scroll;
}

.right-panel {
  margin: 0 auto;
  float: left;
  width: 50%;
  background: blue;
  height: 100%;
  overflow: scroll;
}

/* Muuri Grid */
.grid {
  position: relative;
  padding-top: 0;
  margin-top: 0;
}
.muuri-container {
  overflow-y: auto;
  padding-top: 2px;
  margin-bottom: 2px;
  margin-top: 0;
}
.item {
  display: block;
  position: absolute;
  margin: 0;
  z-index: 1;
  width: 49%;
  min-height: 455px;
  padding-right: 0;
  margin-top: 0;
  padding-top: 0;
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Funky radio/checkboxes */
.funkyradio div {
  clear: both;
  overflow: hidden;
}
.funkyradio label {
  width: 8.1rem;
  border-radius: 0;
  border: 1px solid #D1D3D4;
  font-weight: normal;
  font-size: 10px;
}
.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}
.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 1px;
  cursor: pointer;
  user-select: none;
}
.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 2.5em;
  background: #818181;
  border-radius: 0;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #818181;
}
.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #C2C2C2;
}
.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
  color: #818181;
}
.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #818181;
  background-color: #ccc;
}
.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}
.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #818181;
  background-color: #ccc;
  font-size: 6px;
}
.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #10556A;
}
.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}
.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}
.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}
.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}

/* Forms, inputs, etc. */
.form-check-inline {
  margin-right: 0;
}

.datepicker {
  font-size: 13px;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.inwards_label {
  font-size: small;
}
.inwards_form_label {
  font-size: small;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-left: 4px;
  margin-right: 10px;
}
.inwards_margin_low {
  margin-bottom: 1px;
}

.input-group > label {
  margin-bottom: 1px;
}

/* Misc. text & headings */
p {
  font-size: 1rem;
  color: #272e38;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
}

h6 {
  margin: 0.1em;
}

hr {
  margin: 0;
  margin-block-start: 0.2em;
  margin-block-end: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

/* Watermark and other visuals */
.watermarked {
  position: relative;
}
.watermarked:after {
  content: "Site photograph source: DWS";
  background-color: rgba(0, 0, 0, 0.34);
  color: white;
  display: block;
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 5%;
  left: 0%;
  padding-left: 0.1rem;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-position: 30px 30px;
  background-size: 100px 100px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
}

.thumb-upload {
  max-height: 180px;
  max-width: 200px;
  height: auto;
  width: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

/* Slider */
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
}
.slider:hover {
  opacity: 1;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #10556A;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #10556A;
  cursor: pointer;
}

/* Number Circle */
.numberCircle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  background: #fff;
  border: 2px solid #10556A;
  color: #000;
  text-align: center;
  font: 22px Arial, sans-serif;
}

/* Btn label styling */
.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.btn {
  margin-bottom: 1px;
}

/* Thumbnails */
.thumbnail:hover {
  transform: scale(10);
}

/* Vue Multiselect - single consolidated rule for .multiselect__input & .multiselect__single */
.multiselect__input,
.multiselect__single {
  position: relative;
  display: inline-block;
  min-height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  background: #fff;
  padding: 0 0 0 5px;
  width: 100%;
  transition: border 0.1s ease;
  box-sizing: border-box;
  margin-bottom: 8px;
  vertical-align: top;
  font-size: 0.9em;
}

.multiselect__placeholder {
  display: inline-block !important;
  margin-bottom: 0 !important;
  margin-top: 2px;
  padding-top: 0 !important;
  border-radius: 0 !important;
  font-size: 0.9em;
}

.multiselect.invalid .multiselect__tags {
  border: 1px solid #f86c6b !important;
  border-radius: 0 !important;
  font-size: 0.9em;
}

.multiselect__tag {
  position: relative;
  display: inline-block;
  padding: 4px 26px 4px 10px;
  border-radius: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1;
  background: #41b883;
  color: #fff;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}
.multiselect__tag-icon:after {
  color: rgba(60, 60, 60, 0.5) !important;
  font-size: 0.9em;
}
.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
  background: #f0f0f0 !important;
  font-size: 0.9em;
}
.multiselect__tag-icon:focus:after,
.multiselect__tag-icon:hover:after {
  color: red !important;
  font-size: 0.9em;
}

.multiselect__tags {
  padding: 5px !important;
  min-height: 10px;
  border-radius: 0 !important;
  font-size: 0.9em;
}
.multiselect__placeholder {
  margin-left: 10px;
}

.multiselect__option {
  display: block;
  padding: 12px;
  min-height: 25px;
  line-height: 16px;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.9em;
}

.multiselect__option--highlight {
  background: #428bca !important;
  border-radius: 0 !important;
  font-size: 0.9em;
}
.multiselect__option--highlight:after {
  background: #428bca !important;
  border-radius: 0 !important;
  font-size: 0.9em;
}

.multiselect,
.multiselect__input,
.multiselect__single {
  font-family: inherit;
  font-size: 0.9em;
  touch-action: manipulation;
}
